.home {
  
  &__services, .slider, &__gallery, .test {
    margin: ($base-size * 3.5) auto;
    padding: ($base-size * 6) ($base-size * 4);
    background: $color-light;
    border-radius: $radius;
  }

  &__services ul {
    display: flex;
    justify-content: space-evenly;
  }

  &__service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: ($base-size * 8);
    list-style-type: none;
    margin: ($base-size * 0.2);
    border-radius: $radius;
    color: $color-light;
    font-size: ($base-size * 2.1);
    text-transform: uppercase;
    text-align: center;
    font-family: $font-header;

    &--order {
      background: url(../../images/assets/pizza-1.jpg);
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
    }

    &--order a {
      transition: $transition;
      color: $color-light;
      text-decoration: none;
      transform: translateY($base-size);
    }

    &--order span {
      font-size: $base-size;
      font-family: $font-text;
      text-transform: none;
      opacity: 0;
      transform: translateY(($base-size * 2));
      transition: $transition;
    }

    &--order:hover > a {
      transform: translateY(-($base-size));
    }

    &--order:hover > span {    
      transform: translateY(-($base-size));
      opacity: 1;
    }

    &--book {
      background: url(../../images/assets/pizza-2.jpg);
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
    }

    &--book a {
      transition: $transition;
      color: $color-light;
      text-decoration: none;
      transform: translateY($base-size);
    }

    &--book span {
      font-size: $base-size;
      font-family: $font-text;
      text-transform: none;
      opacity: 0;
      transform: translateY(($base-size * 2));
      transition: $transition;
    }

    &--book:hover > a {
      transform: translateY(-($base-size));
    }

    &--book:hover > span {    
      transform: translateY(-($base-size));
      opacity: 1;
    }

    &--hours  {
      flex: 1;
      flex-direction: column;
      min-height: ($base-size * 8);
      background-color: $color-main;
    }

    &--hours p {
      font-size: $base-size;
      font-family: $font-text;
    }

  }
  
  .carousel-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: ($base-size * 20);
    padding: 0;
  }

  .main-carousel {
    padding: 0;
  }

  .slider {

    &__photo {
      flex: 1;
    }

    &__photo img {
      width: ($base-size * 15);
      height: ($base-size * 15);
      object-fit: cover;
      border-radius: $radius;
    }

    &__text {
      flex: 3;
      margin-left: ($base-size * 2);
    }

    &__title {
      font-family: $font-header;
      text-transform: uppercase;
    }

    &__author {
      font-style: italic;
    }
  }

  .flickity-button {
    display: none;
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__gallery footer {
    display: block;
    margin-top: $base-size;
    width: 100%;
  }

  &__gallery a {
    color: $color-main;
    text-align: left;
   
  }

  &__gallery-box {
    display: grid;
    width: 100%;
    height: ($base-size * 31);
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    align-content: space-between;
    
  }

  &__photo {
    background-color: $color-main;
    height: ($base-size * 15);
    width: ($base-size * 15);
    border-radius: $radius;
  }

  


}